* {
  margin: 0;
  padding: 0;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  padding: 29px  31px;
  width: 100%;
  float: left;
  height: ;
 }
  .topnav a {
  color: aliceblue;
  font-size: 17px;
  padding-right: 30px;
}
.songs-table {
  margin: 0 auto;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  
}

.songs-table td {
  border-style: solid;
}

.nem-title, .nem-song, .enter-title, .enter-song, .unforgiven-title, .unforgiven-song {
  text-align: center;
}
  
  
 